body {
    background-color: #f0f7fd;
    font-family: Arial, sans-serif;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 500px;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    border: none;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 10px;
}

.card-header {
    background-color: #007bff;
    color: #fff;
    text-align: center;
    border-bottom: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.form-control:focus {
    box-shadow: none;
    border-color: #007bff;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

.btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
}

.btn-secondary:hover {
    background-color: #5a6268;
    border-color: #545b62;
}

.btn-regresar {
    position: absolute;
    bottom: 20px;
    right: 20px;
    border-radius: 20px;
}

.nav-link:hover {
    animation: bounce 0.5s ease;
}

@keyframes bounce {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-5px);
    }
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1;

    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #0056b3;

    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #004080;

}

::-webkit-scrollbar-button {
    display: none;
}

.navbar-nav .nav-item .nav-link.active {
    background-color: #004080;
    color: #ffffff;
}

.btn-regresar {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-regresar:hover {
    background-color: #0056b3;
    color: #fff;
}